@inherits LayoutComponentBase

<div class="page">
    <nav class="sidebar">
        <div class="nav-brand">PAL</div>
        <ul class="nav-links">
            <li><NavLink href="/submit" Match="NavLinkMatch.All">Submit Analysis</NavLink></li>
            <li><NavLink href="/jobs">Jobs</NavLink></li>
            <li><NavLink href="/compare">Compare</NavLink></li>
            <li><NavLink href="/trends">Trends</NavLink></li>
        </ul>
    </nav>
    <main class="content">
        @Body
    </main>
</div>
