@using Microsoft.AspNetCore.Components.Web
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PAL Analysis Platform</title>
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
</head>
<body>
    <CascadingAuthenticationState>
        <Routes @rendermode="RenderMode.InteractiveServer" />
    </CascadingAuthenticationState>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
